<input type="text" class="input-set-identity-field" id="set-identity-input" autofocus autocomplete="off"/>
<div id="input-error" class="error"> </div>
<button type="button" id="button-empty-set"></button>
<button type="button" id="button-intersection"></button>
<button type="button" id="button-combination"></button>
<button type="button" id="button-difference"></button>
<button type="button" id="button-addition"></button>
<button type="button" id="button-left-parenthesis"></button>
<button type="button" id="button-right-parenthesis"></button>
<button type="button" id="button-eq"></button>
<button type="button" id="button-load-set-identity" class="btn btn-success button-load-set-identity"></button>
<div id="set-identity-example">...</div>
